-# ZWTDT = zona wiki to do test
%h1= t 'title'

%details#user_tag_info
	%summary Details of this session
	#user_tag_form
		%label user tag:
		%input#user_tag_text{type: "text", autocomplete: "off"}
		%input#user_tag_button{type: "submit", value: "#{t('user_tag.change_button')}"}
		= ZWTDT_server_feedback 'user_tag_success_msg', 'user_tag.success_msg', '.success'
		= ZWTDT_server_feedback 'user_tag_error_msg', 'user_tag.error_msg', '.error'

%ul#todo_list
	-#autofilled in client
%b#todo_loading.hide.display= t 'todo.loading'
%b#todo_no_items.hide= t 'todo.no_items'
#todo_new
	-# I miss pug here
	%input#todo_new_text.todo_text{type: "text", autocomplete: "off", disabled: true}
	%input#todo_new_button.todo_button{type: "submit", value: "#{t('todo.create_button')}", disabled: true}
= ZWTDT_server_feedback 'new_todo_success_msg', 'todo.success_msg', '.success'
= ZWTDT_server_feedback 'new_todo_error_msg', 'todo.error_msg', '.error'

%template#_todo_item
	%li{id: 'todo_${todo.id}'}
		%input.todo_text{type: "text", autocomplete: "off", value: '${todo.data}'}

		%input.todo_percentage_status{type: "number", autocomplete: "off", min: 0, max: 100, step: 5, value: '${todo.percentage_status}'}
		%input.todo_status{type: "checkbox", autocomplete: "off", value: '${todo.status}'}
		%input.todo_button{type: "submit", value: "#{t('todo.update_button')}"}
		%input.todo_button{type: "submit", value: "#{t('todo.delete_button')}"}
